<!doctype html>
<html lang="en">
  <head>
    <title>SlimMacros – Smarter Nutrition, Healthier Habits & Measurable Progress</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="SlimMacros helps you track food, macros, workouts, supplements, weight and BMI in one place. Calculate calorie and macro budgets, monitor your intake, discover patterns, and make informed decisions for healthier habits."
    />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="Bill Jenner" />
    <meta name="theme-color" content="#690808" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <meta property="og:site_name" content="Slim Macros" />
    <meta
      property="og:title"
      content="SlimMacros – Smarter Nutrition, Healthier Habits & Measurable Progress"
    />
    <meta
      property="og:description"
      content="SlimMacros helps you track food, macros, workouts, supplements, weight and BMI in one place. Calculate calorie and macro budgets, monitor your intake, discover patterns, and make informed decisions for healthier habits."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://slimmacros.com/icons/icon-512x512.png" />
    <meta property="og:image:alt" content="Slim Macros logo" />
    <meta property="og:url" content="https://slimmacros.com/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="SlimMacros – Smarter Nutrition, Healthier Habits & Measurable Progress"
    />
    <meta
      name="twitter:description"
      content="SlimMacros helps you track food, macros, workouts, supplements, weight and BMI in one place. Calculate calorie and macro budgets, monitor your intake, discover patterns, and make informed decisions for healthier habits."
    />
    <meta name="twitter:image" content="https://slimmacros.com/icons/icon-512x512.png" />

    <link rel="icon" type="image/jpeg" href="https://slimmacros.com/Slimmacros.png" />
    <link rel="canonical" href="https://slimmacros.com/" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebApplication",
    "name": "SlimMacros",
    "url": "https://slimmacros.com/",
    "description": "SlimMacros is a web application for tracking nutrition, calories, exercise, weight and BMI.",
    "applicationCategory": "HealthApplication",
    "operatingSystem": "Web"
  }
</script>
